.sidebar {
  padding: 25px 22px 10px 15px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  //   background-color: rebeccapurple;

  font-weight: 300;

  .copy {
    cursor: pointer;
    font-size: 13px;
    @media (max-width: 576px) {
      font-size: 6px;
      writing-mode: horizontal-tb; // Change to horizontal text
      transform: rotate(0deg);
    }

    letter-spacing: 4px;
  }

  .links {
    display: flex;
    align-items: center;
    gap: 38px;
    margin-bottom: 30px;
    // background-color: salmon;

    .line {
      height: 200px;
      width: 1.1px;
      border-radius: 2px;
      background-color: #615f5f;
      cursor: default;

      @media (max-width: 768px) {
        height: 1.1px;
        width: 150px;
      }

      @media (max-width: 576px) {
        height: 1.1px;
        width: 40px;
      }
    }

    .linkedin,
    .GitHub,
    .codeSandBox,
    .twitter {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 0;
        top: 0px;
        right: 12px;
        background-color: #3d3e3d;
        transition: height 0.3s;

        @media (max-width: 576px) {
          width: 1px;
          height: 0;
          top: 0px;
          right: 6px;
        }
      }

      &:hover::after {
        height: 100%;

        @media (max-width: 576px) {
          transform: rotate(0deg);
          height: 100%;
        }
      }

      a {
        color: #1a1818;
        font-weight: 500;
        font-size: 13px;
        text-decoration: none;
        @media (max-width: 576px) {
          font-size: 7px;
        }
        cursor: default;
        letter-spacing: 3px;
      }
    }
  }

  @media (max-width: 768px) {
    writing-mode: horizontal-tb; // Change to horizontal text
    transform: rotate(0deg);
    flex-direction: row;
  }
}
